<!DOCTYPE html>
<html>

<head>
    <title>ma page </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static' , filename='css/acc1.css')}}">

    <link rel="shortcut icon" href="{{url_for('static',filename='font/index.jpeg')}}">

</head>
<div>

    <body>
        <header>
            <p class="nomid">
                <img class="tofid" src="{{url_for('static' , filename='font/téléchargement.png')}}" alt="photo profil"> {% if session_user_name %}{{ session_user_name }}
                <a href="{{ url_for('logout') }}">Deconnexion</a>{% endif %}
            </p>
            <img class="logo" src="{{url_for('static' , filename='font/Logo-Sonatel-Academy-tete-gif-1.gif')}}" alt="logo ">

            <h3 direction="left">Sonatel academy! La première école de codage gratuit !!!!</h3>
        </header>


        <form action="" method="POST">
            <label class="radio">Nouveau<input id="nouveau" required="required" class="radio1" type="radio" name="ins" value="Nouveau"></label>
            <label class="radio">Ancien<input id="ancien" required="required" class="radio1" type="radio" name="ins" value="Ancien"></label>

            <fieldset>
                <legend>Etudiant</legend>

                <label class="label">Matricule :</label>
                <input id="matricule" required="required" class="input" type="text" name="matricule" value="" readonly><br>

                <label class="label">Nom :</label>
                <input id="nom" required="required" class="input" type="text" name="nom" value="" readonly><br>

                <label class="label">Prenom :</label>
                <input id="prenom" class="input" type="text" name="prenom" required="required" value="" readonly><br>

                <label class="label">Date de naissance :</label>
                <input id="dn" required="required" class="input" type="date" name="dn" max="2003-12-31" min="1988-12-31" value="" readonly><br>
            </fieldset>

            <fieldset>
                <legend>Inscription</legend>
                <label class="label">Filiere :</label>
                <select id="id_filiere" required name="filiere">
                    <option selected disabled value="">selectionner une filiere</option>
                     {% for i in fi %}
                        <option value={{i[0]}}>{{i[1]}}</option>                     
                    {% endfor %}
                </select>

                <label class="label">Classe :</label>
                <select id="classe" required name="classe">
                </select>

                <label class="label">Montant inscription :</label>
                <input id="montant_ins" required="required" class="input" type="text" name="montant_ins" value="" readonly><br>

                <label class="label">Mensualité :</label>
                <input id="mensualite" required="required" class="input" type="text" name="mensualite" value="" readonly><br>

                <label class="label" for="prenom" name="prenom">Total inscription :</label>
                <input id="total" class="input" type="text" name="total" value="" readonly><br>

                <label class="label">Date inscription :</label>
                <input id="date_ins" required="required" class="input" type="date" name="date_ins" value="" readonly><br>

                <label class="label" for="prenom" name="prenom">Année academique :</label>
                <input id="annee_aca" class="input" type="text" name="annee_aca" readonly><br>
            </fieldset>

            <button id="submit" class="submit" type="submit">Enregistrer</button>
            <button class="reset" type="reset">Annuler</button>

        </form>

        <footer>

            <a class="l" href="https://www.youtube.com/watch?v=kd7hKi1hPuo"><img class="reseau1" src="{{url_for('static' , filename='font/you.jpeg')}}" alt="youtube" width="40" height="40"></a>
            <a class="l" href="https://www.linkedin.com/in/yankhoba-ben-man%C3%A8-401a8a57"><img class="reseau2" src="{{url_for('static' , filename='font/li.png')}}" alt="linkedin" width="40" height="40"></a>
            <a class="l" href="https://www.facebook.com/Sona telAcademy/?ref=page_internal"><img class="reseau3" src="{{url_for('static' , filename='font/f.jpeg')}}" alt="facebook" width="40" height="40"></a>
            <a class="l" href="https://twitter.com/academysonatel?lang=fr"><img class="reseau4" src="{{url_for('static' , filename='font/tw.jpeg')}}" alt="twitter" width="40" height="40"></a>
            <div id="line" style="padding: 0px; margin-left: 44%; margin-top: 1%; border: solid 1px darkgrey; width: 15%;">

            </div>
            <div class="c">
                <p>contacts</p>
                <p>(+221) 338564125 / sonatelacademy@sonatel.sn</p>
                <p>Copyright 2019 by FSM</p>
            </div>

        </footer>
</div>
</body>

<script>
    let nouveau_select = document.getElementById('nouveau');
    let matricule_select = document.getElementById('matricule');
    let nom_select = document.getElementById('nom');
    let prenom_select = document.getElementById('prenom');
    let dn_select = document.getElementById('dn');

    let id_filiere_select = document.getElementById('id_filiere');
    let classe_select = document.getElementById('classe');
    let montant_ins_select = document.getElementById('montant_ins');
    let mensualite_select = document.getElementById('mensualite');
    let total_select = document.getElementById('total');
    let submit_select = document.getElementById('submit');
    //***********************************************************************************************************************************************************************************************
    //NOUVEAU//
    //**********************************************************************************************************************************************************************************************                                                                                   
    nouveau.onclick = function() {
        matricule = matricule_select.value;
        fetch('/matricule').then(function(response) {
            response.json().then(function(data) {
                for (let mat of data.etu) {
                    matricule_select.value = mat;
                    matricule_select.readOnly = true;
                }
            });
        });

        montant_ins_select.readOnly = true;
        mensualite_select.readOnly = true;
        total_select.readOnly = true;
        prenom_select.readOnly = false;
        nom_select.readOnly = false;
        dn_select.readOnly = false;
        document.getElementById('nom').value = "";
        document.getElementById('prenom').value = "";
        document.getElementById('dn').value = "";
        document.getElementById('montant_ins').value = "";
        document.getElementById('mensualite').value = "";
        document.getElementById('total').value = "";
        fetch('/filiere').then(function(response) {
            response.json().then(function(data) {
                let optionHTML = '<option selected disabled value=""> Selectionner une filiere</option>';
                for (let filiere of data.filieres) {
                    optionHTML += '<option value="' + filiere.id + '">' + filiere.libelle_filiere + '</option>';
                }
                id_filiere_select.innerHTML = optionHTML;
            });

        });


        var today = new Date();
        document.getElementById('date_ins').valueAsDate = today;
        var mois = today.getMonth() + 1
        var an = today.getFullYear()
        if (mois > 7) {
            var annee = an.toString() + "-" + (an + 1).toString();
            document.getElementById('annee_aca').value = annee;
        } else {
            var annee0 = (an - 1).toString() + "-" + an.toString();
            document.getElementById('annee_aca').value = annee;

        }
        let optionHTML = '<option selected disabled value=""> Selectionner une classe</option>';
        classe_select.innerHTML = optionHTML;
        id_filiere_select.onchange = function() {
            id_filiere = id_filiere_select.value;
            fetch('/classe/' + id_filiere).then(function(response) {
                response.json().then(function(data) {
                    for (let classe of data.classes) {
                        optionHTML += '<option value="' + classe.id + '">' + classe.libelle_classe + '</option>';
                    }
                    classe_select.innerHTML = optionHTML;
                });

            });
        }
        classe_select.onchange = function() {
            classe1 = classe_select.value;
            fetch('/classe/' + id_filiere).then(function(response) {
                response.json().then(function(data) {
                    let value = '';
                    for (let classe of data.classes) {
                        if (classe.id == classe1) {
                            value = classe.montant_ins;
                            value1 = classe.mensualite;
                            // montant_ins_select.getAttribute('value');
                            montant_ins_select.value = value;
                            mensualite_select.value = value1;
                            total_select.value = value + 10 * value1;
                        }
                    }
                });
            });
        }

    }



    //***********************************************************************************************************************************************************************************************
    //ANCIEN//
    //**********************************************************************************************************************************************************************************************                                                                                   
    ancien.onclick = function() {
        document.getElementById('nom').value = "";
        document.getElementById('prenom').value = "";
        document.getElementById('dn').value = "";
        document.getElementById('montant_ins').value = "";
        document.getElementById('mensualite').value = "";
        document.getElementById('total').value = "";
        prenom.readOnly = true;
        nom.readOnly = true;
        dn.readOnly = true;


        var today = new Date();
        document.getElementById('date_ins').valueAsDate = today;
        var mois = today.getMonth() + 1
        var an = today.getFullYear()
        if (mois > 7) {
            var annee = an.toString() + "-" + (an + 1).toString();
            document.getElementById('annee_aca').value = annee;
        } else {
            var annee0 = (an - 1).toString() + "-" + an.toString();
            document.getElementById('annee_aca').value = annee;
        }

        matricule_select.value = "";
        matricule_select.readOnly = false;
        matricule_select.onchange = function() {
            matricule = matricule_select.value;
            fetch('/recherche/' + matricule).then(function(response) {
                response.json().then(function(data) {
                    let optionHTML = '<option selected disabled value=""> Selectionner une filiere</option>';
                    for (let etudiant of data.etudiants) {
                        matricule_select.value = etudiant.matricule;
                        nom_select.value = etudiant.nom;
                        nom_select.readOnly = true;
                        prenom_select.value = etudiant.prenom;
                        prenom_select.readOnly = true;
                        dn_select.value = convert(etudiant.dn);
                        optionHTML += '<option value="' + etudiant.id_filiere + '">' + etudiant.libelle_filiere + '</option>';
                    }
                    id_filiere_select.innerHTML = optionHTML;
                });

            });
        }
        id_filiere_select.onchange = function() {
            id_filiere = id_filiere_select.value;
            fetch('/classe/' + id_filiere).then(function(response) {
                response.json().then(function(data) {
                    let optionHTML = '<option selected disabled value=""> Selectionner une classe</option>';
                    for (let classe of data.classes) {
                        optionHTML += '<option value="' + classe.id + '">' + classe.libelle_classe + '</option>';
                    }
                    classe_select.innerHTML = optionHTML;
                });

            });
        }


        classe_select.onchange = function() {
            classe1 = classe_select.value;
            fetch('/classe/' + id_filiere).then(function(response) {
                response.json().then(function(data) {
                    let value = '';
                    for (let classe of data.classes) {
                        if (classe.id == classe1) {
                            value = classe.montant_ins;
                            value1 = classe.mensualite;
                            // montant_ins_select.getAttribute('value');
                            montant_ins_select.value = value;
                            mensualite_select.value = value1;
                            total_select.value = value + 10 * value1;

                        }
                    }
                });
            });
        }



    }







    function convert(str) {
        var date = new Date(str),
            mnth = ("0" + (date.getMonth() + 1)).slice(-2),
            day = ("0" + date.getDate()).slice(-2);
        return [date.getFullYear(), mnth, day].join("-");
    }


    function lire() {
        $('#prenom').attr('readonly', true);
        $('#nom').attr('readonly', true);
        document.getElementById('sexe').disabled = true
        $('#date_naissance').attr('readonly', true);
        $('#lieu_naissance').attr('readonly', true);
        $('#adresse').attr('readonly', true);
        $('#email').attr('readonly', true);
        $('#telephone').attr('readonly', true);
    }
</script>

</html>